<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.edu.model.OrderDetail">
    <id column="de_id" jdbcType="INTEGER" property="deId" />
    <result column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="nuit_price" jdbcType="REAL" property="nuitPrice" />
    <result column="total_price" jdbcType="REAL" property="totalPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    de_id, o_id, course_id, count, nuit_price, total_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_detail
    where de_id = #{deId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_detail
    where de_id = #{deId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edu.model.OrderDetail">
    insert into order_detail (de_id, o_id, course_id, 
      count, nuit_price, total_price
      )
    values (#{deId,jdbcType=INTEGER}, #{oId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, 
      #{count,jdbcType=INTEGER}, #{nuitPrice,jdbcType=REAL}, #{totalPrice,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edu.model.OrderDetail">
    insert into order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deId != null">
        de_id,
      </if>
      <if test="oId != null">
        o_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="nuitPrice != null">
        nuit_price,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deId != null">
        #{deId,jdbcType=INTEGER},
      </if>
      <if test="oId != null">
        #{oId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="nuitPrice != null">
        #{nuitPrice,jdbcType=REAL},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edu.model.OrderDetail">
    update order_detail
    <set>
      <if test="oId != null">
        o_id = #{oId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="nuitPrice != null">
        nuit_price = #{nuitPrice,jdbcType=REAL},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=REAL},
      </if>
    </set>
    where de_id = #{deId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edu.model.OrderDetail">
    update order_detail
    set o_id = #{oId,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      nuit_price = #{nuitPrice,jdbcType=REAL},
      total_price = #{totalPrice,jdbcType=REAL}
    where de_id = #{deId,jdbcType=INTEGER}
  </update>
</mapper>